<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-nativeview"
    version="1.0.5">
    <name>Cordova NativeView Plugin</name>
    <description>
        Start or Back to a UIViewController(ios)/Activity(Android) 
        relative to your cordova app
    </description>
    <license>MIT</license>
    <keywords>cordova,activity,UIViewController,back</keywords>
    <repo>https://github.com/mfdeveloper/cordova-plugin-nativeview.git</repo>
    <issue>https://github.com/mfdeveloper/cordova-plugin-nativeview/issues</issue>

    <dependency id="es6-promise-plugin" version="4.2.2"></dependency>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugin.nativeview.js" name="NativeView">
        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="cordova.plugins.NativeView" />
    </js-module>

    <hook type="after_prepare" src="scripts/after.prepare.js" />

    <!-- android -->
    <platform name="android">
        <js-module src="www/android/plugin.nativeview.js" name="NativeViewAndroid">
            <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
            <merges target="cordova.plugins.NativeView" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeView">
            <param name="android-package" value="br.com.mfdeveloper.cordova.NativeView" />
            <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/br/com/mfdeveloper/cordova/NativeView.java" target-dir="src/br/com/mfdeveloper/cordova" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeView">
                <param name="ios-package" value="CDVNativeView" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVNativeView.h" />
        <source-file src="src/ios/CDVNativeView.m" />
    </platform>
</plugin>
